* {
    box-sizing: border-box;
}
#display {
    border: 2px solid red;
    padding: 10px;
    margin: 10px auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#calContainer {
    border: 5px solid black;
    margin: 0 auto;
    width: 40%;
    padding: 25px;
    height: 400px;
}
#operandButtons {
    border: 1px solid black;
    float: left;
    display: flex;
    flex-direction: row;
    width: 240px;
    
    flex-wrap: wrap;
}
#operandButtons button{
    color: red;
    padding: 25px;
    width: 70px;
}
#operatorButtons {
    display: flex;
    flex-direction: column;
    width: 70px;
}
#operatorButtons button{
    padding: 25px;
}